doctype html
html(lang='en')
  head
    title Pug
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui")
    link(rel="stylesheet", href="css/main.css")
  body
    i.material-icons home
    h1 Pug Examples
    div.container
      p Cool Pug example! Yay !
