/**
/**
* Description: This file import all the CSS files that needed in all pages of the app.
* Version: 1.1.0
* Last update: 2017/03/13
* Author: Alex Jolly <alex@theschoolab.com>
*
* Summary:
*
*    1. BOOTSTRAP
*    2. ASSETS
*    3. BASE
*    4. MODULES
*    5. LAYOUTS
*    6. HELPERS
*    7. THEMES
*
*/

@import "settings/variables";
@import "settings/mixins";

/* ==========================================================================
1. BOOTSTRAP
========================================================================== */
@import "settings/bootstrap";

/* ==========================================================================
2. ASSETS
========================================================================== */
@import "assets/fonts";

/* ==========================================================================
3. BASE
========================================================================== */
@import "base/base";

/* ==========================================================================
4. MODULES
========================================================================== */
// @import "modules/module";

/* ==========================================================================
5. LAYOUTS
========================================================================== */
// @import "layouts/layout";

/* ==========================================================================
6. HELPERS
========================================================================== */
// @import "helpers/helper";

/* ==========================================================================
7. THEMES
========================================================================== */
// @import "themes/theme";
